<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.highway.study">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.viewflipper.ViewFlipperTestActivity" />
        <activity android:name=".takephoto.TakePhotoActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.highway.study.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.viewflipper.datepicker.DatePickerActivity" />
        <activity android:name=".coustomview.loadingview.CoustomActivity" />
        <activity android:name=".anim.AnimActivity" />
        <activity android:name=".anim.ViewPropertyAnimatorActivity" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".service.ServiceActivity" />

        <service
            android:name=".service.MyIntentService"
            android:exported="false" />

        <activity android:name=".service.IntentServiceActivity" />
        <activity android:name=".shareelem.ShareTractionActivity" />
        <activity
            android:name=".shareelem.ViewerActivity"
            android:theme="@style/ViewerTheme" />

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".service.DownloadServiceActivity" />

        <!-- 监听网络状态 申请权限"android.permission.ACCESS_NETWORK_STATE" -->
        <receiver
            android:name=".receiver.NetBroadCasetreceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <!-- 监听播出电话 申请权限android.permission.PROCESS_OUTGOING_CALLS /> -->
        <receiver
            android:name=".receiver.CallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>

                <!-- 定义接收的广播 -->
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <activity android:name=".service.JobserviceActivity" />

        <service
            android:name=".service.MyJobservice"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".sqlite.SQliteTestActivity" />
        <activity android:name=".keyboard.KeyBoardActivity" />
        <activity android:name=".spannablestring.SpannableStringActivity" />
        <activity android:name=".Retrofit.RetrofitActivity" />
        <activity android:name=".hardware.ShakeActivity" />
        <activity android:name=".rxjava.RxJavaActivity" />
        <activity android:name=".cutdowntimer.CountdownTimerActivity" />
        <activity android:name=".scanphotos.ScanImageviewActivity">

            <!-- android:theme="@style/Theme.AppCompat.NoActionBar"> -->
        </activity>
        <activity android:name=".customedittext.SecurityActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
        <activity android:name=".javaandh5.JavaAndH5Activity" />
        <activity
            android:name=".coordinatorLayout.CoordinatorLayoutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".coordinatorLayout.TextViewActivity"></activity>
    </application>

</manifest>