<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.highway.study">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.viewflipper.ViewFlipperTestActivity" />
        <activity android:name=".takephoto.TakePhotoActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.highway.study.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.viewflipper.datepicker.DatePickerActivity" />
        <activity android:name=".coustomview.loadingview.CoustomActivity" />
        <activity android:name=".animation.AnimActivity" />
        <activity android:name=".animation.ViewPropertyAnimatorActivity" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".service.ServiceActivity" />

        <service
            android:name=".service.UploadImgService"
            android:exported="false" />

        <activity android:name=".service.IntentServiceActivity" />
        <activity android:name=".shareelem.ShareTractionActivity" />
        <activity android:name=".shareelem.ViewerActivity"
            android:theme="@style/ViewerTheme"/>
    </application>

</manifest>